/* Contact */
#contact {
    background-color: var(--bg-light-green);
  }
  .line-top-green {
    height: 100px;
    content: " ";
    width: 100%;
    position: relative;
    top: -77px;
    left: 0px;
    background: url(./images/forms/Rectangle-green-top-mobile.svg) no-repeat center;
    background-size: contain;
  }
  .contact-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .contact-text {
    margin-top: 0px;
  }
  @media only screen and (min-width: 620px) {
    .line-top-green {
      height: 200px;
      background: url(./images/forms/Rectangle-green-top-desktop.svg) no-repeat center;
      background-size: cover;
    }
  }